--
-- PostgreSQL database dump
--

\restrict vwh2MRY2s4i9I2KJpdf8Qhb5sdXdUbblBXKle7V9KomWkxORPZN9TsRxnLtyg4K

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: metrics_snapshot; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.metrics_snapshot (
    id integer NOT NULL,
    reference_date timestamp without time zone,
    total_lojas_em_progresso integer,
    total_lojas_concluidas integer,
    mrr_em_implantacao double precision,
    pct_no_prazo double precision
);


ALTER TABLE public.metrics_snapshot OWNER TO "user";

--
-- Name: metrics_snapshot_daily; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.metrics_snapshot_daily (
    id integer NOT NULL,
    snapshot_date date NOT NULL,
    store_id integer NOT NULL,
    implantador character varying(100),
    rede character varying(100),
    status_norm character varying(50),
    days_in_stage integer,
    idle_days integer,
    wip_points double precision,
    mrr double precision,
    risk_score double precision,
    ai_risk_level text,
    ai_summary text,
    ai_network_summary text,
    ai_action_plan text,
    ai_last_analysis timestamp without time zone
);


ALTER TABLE public.metrics_snapshot_daily OWNER TO "user";

--
-- Name: metrics_snapshot_daily_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.metrics_snapshot_daily_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.metrics_snapshot_daily_id_seq OWNER TO "user";

--
-- Name: metrics_snapshot_daily_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.metrics_snapshot_daily_id_seq OWNED BY public.metrics_snapshot_daily.id;


--
-- Name: metrics_snapshot_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.metrics_snapshot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.metrics_snapshot_id_seq OWNER TO "user";

--
-- Name: metrics_snapshot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.metrics_snapshot_id_seq OWNED BY public.metrics_snapshot.id;


--
-- Name: status_events; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.status_events (
    id integer NOT NULL,
    clickup_task_id character varying(50) NOT NULL,
    old_status character varying(50),
    new_status character varying(50),
    changed_at timestamp without time zone NOT NULL,
    changed_by character varying(100),
    entity_type character varying(20)
);


ALTER TABLE public.status_events OWNER TO "user";

--
-- Name: status_events_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.status_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.status_events_id_seq OWNER TO "user";

--
-- Name: status_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.status_events_id_seq OWNED BY public.status_events.id;


--
-- Name: store_deep_sync_state; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.store_deep_sync_state (
    store_id integer NOT NULL,
    last_deep_sync_at timestamp without time zone,
    sync_status character varying(20),
    last_error text,
    last_synced_clickup_updated_at character varying(50)
);


ALTER TABLE public.store_deep_sync_state OWNER TO "user";

--
-- Name: store_pauses; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.store_pauses (
    id integer NOT NULL,
    store_id integer NOT NULL,
    start_date timestamp without time zone NOT NULL,
    end_date timestamp without time zone,
    reason character varying(255),
    created_at timestamp without time zone
);


ALTER TABLE public.store_pauses OWNER TO "user";

--
-- Name: store_pauses_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.store_pauses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.store_pauses_id_seq OWNER TO "user";

--
-- Name: store_pauses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.store_pauses_id_seq OWNED BY public.store_pauses.id;


--
-- Name: store_sync_logs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.store_sync_logs (
    id integer NOT NULL,
    store_id integer NOT NULL,
    field_name character varying(50) NOT NULL,
    old_value text,
    new_value text,
    changed_at timestamp without time zone,
    source character varying(20)
);


ALTER TABLE public.store_sync_logs OWNER TO "user";

--
-- Name: store_sync_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.store_sync_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.store_sync_logs_id_seq OWNER TO "user";

--
-- Name: store_sync_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.store_sync_logs_id_seq OWNED BY public.store_sync_logs.id;


--
-- Name: stores; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.stores (
    id integer NOT NULL,
    store_name character varying(255) NOT NULL,
    custom_store_id character varying(50),
    clickup_task_id character varying(50) NOT NULL,
    clickup_url character varying(255),
    status character varying(50),
    status_raw character varying(50),
    status_norm character varying(50),
    created_at timestamp without time zone,
    finished_at timestamp without time zone,
    start_real_at timestamp without time zone,
    end_real_at timestamp without time zone,
    total_time_days double precision,
    idle_days integer,
    implantador character varying(100),
    implantador_original character varying(100),
    implantador_atual character varying(100),
    valor_mensalidade double precision,
    valor_implantacao double precision,
    financeiro_status character varying(50),
    erp character varying(100),
    cnpj character varying(50),
    crm character varying(50),
    rede character varying(100),
    tipo_loja character varying(50),
    parent_id integer,
    observacoes text,
    tempo_contrato integer,
    manual_finished_at timestamp without time zone,
    considerar_tempo_implantacao boolean,
    justificativa_tempo_implantacao character varying(255),
    teve_retrabalho boolean,
    retrabalho_tipo character varying(100),
    delivered_with_quality boolean DEFAULT true,
    is_manual_start_date boolean DEFAULT false
);


ALTER TABLE public.stores OWNER TO "user";

--
-- Name: stores_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.stores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.stores_id_seq OWNER TO "user";

--
-- Name: stores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.stores_id_seq OWNED BY public.stores.id;


--
-- Name: sync_state; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.sync_state (
    id integer NOT NULL,
    last_shallow_sync_at timestamp without time zone,
    last_successful_sync_at timestamp without time zone,
    in_progress boolean
);


ALTER TABLE public.sync_state OWNER TO "user";

--
-- Name: sync_state_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.sync_state_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sync_state_id_seq OWNER TO "user";

--
-- Name: sync_state_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.sync_state_id_seq OWNED BY public.sync_state.id;


--
-- Name: system_config; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.system_config (
    id integer NOT NULL,
    key character varying(50) NOT NULL,
    value character varying(255) NOT NULL,
    description character varying(200)
);


ALTER TABLE public.system_config OWNER TO "user";

--
-- Name: system_config_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.system_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_config_id_seq OWNER TO "user";

--
-- Name: system_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.system_config_id_seq OWNED BY public.system_config.id;


--
-- Name: tasks_steps; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.tasks_steps (
    id integer NOT NULL,
    clickup_task_id character varying(50) NOT NULL,
    store_id integer NOT NULL,
    step_list_name character varying(100),
    step_name character varying(150),
    assignee character varying(100),
    status character varying(50),
    created_at timestamp without time zone,
    closed_at timestamp without time zone,
    start_real_at timestamp without time zone,
    end_real_at timestamp without time zone,
    total_time_days double precision,
    idle_days integer,
    reopen_count integer
);


ALTER TABLE public.tasks_steps OWNER TO "user";

--
-- Name: tasks_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.tasks_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tasks_steps_id_seq OWNER TO "user";

--
-- Name: tasks_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.tasks_steps_id_seq OWNED BY public.tasks_steps.id;


--
-- Name: time_in_status_cache; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.time_in_status_cache (
    id integer NOT NULL,
    store_id integer NOT NULL,
    status_name character varying(50) NOT NULL,
    total_seconds integer,
    total_days double precision,
    updated_at timestamp without time zone
);


ALTER TABLE public.time_in_status_cache OWNER TO "user";

--
-- Name: time_in_status_cache_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.time_in_status_cache_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.time_in_status_cache_id_seq OWNER TO "user";

--
-- Name: time_in_status_cache_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.time_in_status_cache_id_seq OWNED BY public.time_in_status_cache.id;


--
-- Name: metrics_snapshot id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot ALTER COLUMN id SET DEFAULT nextval('public.metrics_snapshot_id_seq'::regclass);


--
-- Name: metrics_snapshot_daily id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot_daily ALTER COLUMN id SET DEFAULT nextval('public.metrics_snapshot_daily_id_seq'::regclass);


--
-- Name: status_events id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.status_events ALTER COLUMN id SET DEFAULT nextval('public.status_events_id_seq'::regclass);


--
-- Name: store_pauses id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_pauses ALTER COLUMN id SET DEFAULT nextval('public.store_pauses_id_seq'::regclass);


--
-- Name: store_sync_logs id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_sync_logs ALTER COLUMN id SET DEFAULT nextval('public.store_sync_logs_id_seq'::regclass);


--
-- Name: stores id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores ALTER COLUMN id SET DEFAULT nextval('public.stores_id_seq'::regclass);


--
-- Name: sync_state id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sync_state ALTER COLUMN id SET DEFAULT nextval('public.sync_state_id_seq'::regclass);


--
-- Name: system_config id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_config ALTER COLUMN id SET DEFAULT nextval('public.system_config_id_seq'::regclass);


--
-- Name: tasks_steps id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tasks_steps ALTER COLUMN id SET DEFAULT nextval('public.tasks_steps_id_seq'::regclass);


--
-- Name: time_in_status_cache id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.time_in_status_cache ALTER COLUMN id SET DEFAULT nextval('public.time_in_status_cache_id_seq'::regclass);


--
-- Data for Name: metrics_snapshot; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.metrics_snapshot (id, reference_date, total_lojas_em_progresso, total_lojas_concluidas, mrr_em_implantacao, pct_no_prazo) FROM stdin;
\.


--
-- Data for Name: metrics_snapshot_daily; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: status_events; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.status_events (id, clickup_task_id, old_status, new_status, changed_at, changed_by, entity_type) FROM stdin;
\.


--
-- Data for Name: store_deep_sync_state; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.store_deep_sync_state (store_id, last_deep_sync_at, sync_status, last_error, last_synced_clickup_updated_at) FROM stdin;
28	2026-01-02 23:56:11.758513	COMPLETE	\N	\N
3	2026-01-04 01:43:45.444796	COMPLETE	\N	\N
1	2026-01-05 20:55:13.561863	COMPLETE	\N	\N
13	2026-01-08 20:36:09.144195	COMPLETE	\N	\N
\.


--
-- Data for Name: store_pauses; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.store_pauses (id, store_id, start_date, end_date, reason, created_at) FROM stdin;
\.


--
-- Data for Name: store_sync_logs; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: sync_state; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.sync_state (id, last_shallow_sync_at, last_successful_sync_at, in_progress) FROM stdin;
1	2026-01-08 20:49:22.754357	2026-01-08 20:49:22.754374	f
\.


--
-- Data for Name: system_config; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.system_config (id, key, value, description) FROM stdin;
\.


--
-- Data for Name: tasks_steps; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: time_in_status_cache; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Name: metrics_snapshot_daily_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.metrics_snapshot_daily_id_seq', 295, true);


--
-- Name: metrics_snapshot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.metrics_snapshot_id_seq', 1, false);


--
-- Name: status_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.status_events_id_seq', 1, false);


--
-- Name: store_pauses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.store_pauses_id_seq', 1, false);


--
-- Name: store_sync_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.store_sync_logs_id_seq', 27, true);


--
-- Name: stores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.stores_id_seq', 74, true);


--
-- Name: sync_state_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.sync_state_id_seq', 1, false);


--
-- Name: system_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.system_config_id_seq', 1, false);


--
-- Name: tasks_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.tasks_steps_id_seq', 592, true);


--
-- Name: time_in_status_cache_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.time_in_status_cache_id_seq', 10, true);


--
-- Name: metrics_snapshot_daily metrics_snapshot_daily_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot_daily
    ADD CONSTRAINT metrics_snapshot_daily_pkey PRIMARY KEY (id);


--
-- Name: metrics_snapshot metrics_snapshot_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot
    ADD CONSTRAINT metrics_snapshot_pkey PRIMARY KEY (id);


--
-- Name: status_events status_events_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.status_events
    ADD CONSTRAINT status_events_pkey PRIMARY KEY (id);


--
-- Name: store_deep_sync_state store_deep_sync_state_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_deep_sync_state
    ADD CONSTRAINT store_deep_sync_state_pkey PRIMARY KEY (store_id);


--
-- Name: store_pauses store_pauses_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_pauses
    ADD CONSTRAINT store_pauses_pkey PRIMARY KEY (id);


--
-- Name: store_sync_logs store_sync_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_sync_logs
    ADD CONSTRAINT store_sync_logs_pkey PRIMARY KEY (id);


--
-- Name: stores stores_clickup_task_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_clickup_task_id_key UNIQUE (clickup_task_id);


--
-- Name: stores stores_custom_store_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_custom_store_id_key UNIQUE (custom_store_id);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: sync_state sync_state_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sync_state
    ADD CONSTRAINT sync_state_pkey PRIMARY KEY (id);


--
-- Name: system_config system_config_key_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_key_key UNIQUE (key);


--
-- Name: system_config system_config_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_pkey PRIMARY KEY (id);


--
-- Name: tasks_steps tasks_steps_clickup_task_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tasks_steps
    ADD CONSTRAINT tasks_steps_clickup_task_id_key UNIQUE (clickup_task_id);


--
-- Name: tasks_steps tasks_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tasks_steps
    ADD CONSTRAINT tasks_steps_pkey PRIMARY KEY (id);


--
-- Name: time_in_status_cache time_in_status_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.time_in_status_cache
    ADD CONSTRAINT time_in_status_cache_pkey PRIMARY KEY (id);


--
-- Name: metrics_snapshot_daily uix_snapshot_date_store; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot_daily
    ADD CONSTRAINT uix_snapshot_date_store UNIQUE (snapshot_date, store_id);


--
-- Name: ix_metrics_snapshot_daily_implantador; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_metrics_snapshot_daily_implantador ON public.metrics_snapshot_daily USING btree (implantador);


--
-- Name: ix_metrics_snapshot_daily_snapshot_date; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_metrics_snapshot_daily_snapshot_date ON public.metrics_snapshot_daily USING btree (snapshot_date);


--
-- Name: ix_metrics_snapshot_daily_store_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_metrics_snapshot_daily_store_id ON public.metrics_snapshot_daily USING btree (store_id);


--
-- Name: ix_status_events_clickup_task_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_status_events_clickup_task_id ON public.status_events USING btree (clickup_task_id);


--
-- Name: metrics_snapshot_daily metrics_snapshot_daily_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot_daily
    ADD CONSTRAINT metrics_snapshot_daily_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: store_deep_sync_state store_deep_sync_state_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_deep_sync_state
    ADD CONSTRAINT store_deep_sync_state_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: store_pauses store_pauses_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_pauses
    ADD CONSTRAINT store_pauses_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: store_sync_logs store_sync_logs_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_sync_logs
    ADD CONSTRAINT store_sync_logs_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: stores stores_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.stores(id);


--
-- Name: tasks_steps tasks_steps_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tasks_steps
    ADD CONSTRAINT tasks_steps_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: time_in_status_cache time_in_status_cache_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.time_in_status_cache
    ADD CONSTRAINT time_in_status_cache_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- PostgreSQL database dump complete
--

\unrestrict vwh2MRY2s4i9I2KJpdf8Qhb5sdXdUbblBXKle7V9KomWkxORPZN9TsRxnLtyg4K

