--
-- PostgreSQL database dump
--

\restrict aa977r39hmANEbqf3WHc3q2NHP0stU6qB0jNtpQogNyUj63gnhufl0vXxAmn6MG

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO "user";

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: user
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: forecast_audit_logs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.forecast_audit_logs (
    id integer NOT NULL,
    store_id integer NOT NULL,
    field_name character varying(50) NOT NULL,
    old_value text,
    new_value text,
    changed_at timestamp without time zone,
    actor character varying(50)
);


ALTER TABLE public.forecast_audit_logs OWNER TO "user";

--
-- Name: forecast_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.forecast_audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.forecast_audit_logs_id_seq OWNER TO "user";

--
-- Name: forecast_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.forecast_audit_logs_id_seq OWNED BY public.forecast_audit_logs.id;


--
-- Name: integration_metrics; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.integration_metrics (
    id integer NOT NULL,
    store_id integer NOT NULL,
    snapshot_date date NOT NULL,
    lead_time_days integer,
    ticket_count integer,
    has_blocking_issue boolean,
    last_blocker_reason character varying(255),
    updated_at timestamp without time zone,
    start_date timestamp without time zone,
    end_date timestamp without time zone,
    sla_days integer DEFAULT 0,
    post_go_live_bugs integer DEFAULT 0,
    churn_risk boolean DEFAULT false,
    documentation_status character varying(20) DEFAULT 'PENDING'::character varying,
    points double precision DEFAULT 0.0
);


ALTER TABLE public.integration_metrics OWNER TO "user";

--
-- Name: integration_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.integration_metrics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.integration_metrics_id_seq OWNER TO "user";

--
-- Name: integration_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.integration_metrics_id_seq OWNED BY public.integration_metrics.id;


--
-- Name: metrics_snapshot; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.metrics_snapshot (
    id integer NOT NULL,
    reference_date timestamp without time zone,
    total_lojas_em_progresso integer,
    total_lojas_concluidas integer,
    mrr_em_implantacao double precision,
    pct_no_prazo double precision
);


ALTER TABLE public.metrics_snapshot OWNER TO "user";

--
-- Name: metrics_snapshot_daily; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.metrics_snapshot_daily (
    id integer NOT NULL,
    snapshot_date date NOT NULL,
    store_id integer NOT NULL,
    implantador character varying(100),
    rede character varying(100),
    status_norm character varying(50),
    days_in_stage integer,
    idle_days integer,
    wip_points double precision,
    mrr double precision,
    risk_score double precision,
    ai_risk_level text,
    ai_summary text,
    ai_network_summary text,
    ai_action_plan text,
    ai_last_analysis timestamp without time zone
);


ALTER TABLE public.metrics_snapshot_daily OWNER TO "user";

--
-- Name: metrics_snapshot_daily_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.metrics_snapshot_daily_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.metrics_snapshot_daily_id_seq OWNER TO "user";

--
-- Name: metrics_snapshot_daily_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.metrics_snapshot_daily_id_seq OWNED BY public.metrics_snapshot_daily.id;


--
-- Name: metrics_snapshot_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.metrics_snapshot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.metrics_snapshot_id_seq OWNER TO "user";

--
-- Name: metrics_snapshot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.metrics_snapshot_id_seq OWNED BY public.metrics_snapshot.id;


--
-- Name: performance_reviews; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.performance_reviews (
    id integer NOT NULL,
    user_id integer NOT NULL,
    cycle character varying(20) NOT NULL,
    soft_communication double precision,
    soft_process double precision,
    soft_responsibility double precision,
    score_collective double precision,
    score_individual double precision,
    churn_count integer,
    final_score double precision,
    bonus_eligible boolean,
    updated_at timestamp without time zone,
    reviewer_comment text
);


ALTER TABLE public.performance_reviews OWNER TO "user";

--
-- Name: performance_reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.performance_reviews_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.performance_reviews_id_seq OWNER TO "user";

--
-- Name: performance_reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.performance_reviews_id_seq OWNED BY public.performance_reviews.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.permissions (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255),
    module character varying(50)
);


ALTER TABLE public.permissions OWNER TO "user";

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permissions_id_seq OWNER TO "user";

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.role_permissions (
    role_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO "user";

--
-- Name: roles; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.roles OWNER TO "user";

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO "user";

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: status_events; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.status_events (
    id integer NOT NULL,
    clickup_task_id character varying(50) NOT NULL,
    old_status character varying(50),
    new_status character varying(50),
    changed_at timestamp without time zone NOT NULL,
    changed_by character varying(100),
    entity_type character varying(20)
);


ALTER TABLE public.status_events OWNER TO "user";

--
-- Name: status_events_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.status_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.status_events_id_seq OWNER TO "user";

--
-- Name: status_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.status_events_id_seq OWNED BY public.status_events.id;


--
-- Name: store_deep_sync_state; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.store_deep_sync_state (
    store_id integer NOT NULL,
    last_deep_sync_at timestamp without time zone,
    sync_status character varying(20),
    last_error text,
    last_synced_clickup_updated_at character varying(50)
);


ALTER TABLE public.store_deep_sync_state OWNER TO "user";

--
-- Name: store_pauses; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.store_pauses (
    id integer NOT NULL,
    store_id integer NOT NULL,
    start_date timestamp without time zone NOT NULL,
    end_date timestamp without time zone,
    reason character varying(255),
    created_at timestamp without time zone
);


ALTER TABLE public.store_pauses OWNER TO "user";

--
-- Name: store_pauses_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.store_pauses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.store_pauses_id_seq OWNER TO "user";

--
-- Name: store_pauses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.store_pauses_id_seq OWNED BY public.store_pauses.id;


--
-- Name: store_sync_logs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.store_sync_logs (
    id integer NOT NULL,
    store_id integer NOT NULL,
    field_name character varying(50) NOT NULL,
    old_value text,
    new_value text,
    changed_at timestamp without time zone,
    source character varying(20)
);


ALTER TABLE public.store_sync_logs OWNER TO "user";

--
-- Name: store_sync_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.store_sync_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.store_sync_logs_id_seq OWNER TO "user";

--
-- Name: store_sync_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.store_sync_logs_id_seq OWNED BY public.store_sync_logs.id;


--
-- Name: stores; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.stores (
    id integer NOT NULL,
    store_name character varying(255) NOT NULL,
    custom_store_id character varying(50),
    clickup_task_id character varying(50) NOT NULL,
    clickup_url character varying(255),
    status character varying(50),
    status_raw character varying(50),
    status_norm character varying(50),
    created_at timestamp without time zone,
    finished_at timestamp without time zone,
    start_real_at timestamp without time zone,
    end_real_at timestamp without time zone,
    total_time_days double precision,
    idle_days integer,
    implantador character varying(100),
    implantador_original character varying(100),
    implantador_atual character varying(100),
    valor_mensalidade double precision,
    valor_implantacao double precision,
    financeiro_status character varying(50),
    erp character varying(100),
    cnpj character varying(50),
    crm character varying(50),
    rede character varying(100),
    tipo_loja character varying(50),
    parent_id integer,
    observacoes text,
    tempo_contrato integer,
    manual_finished_at timestamp without time zone,
    considerar_tempo_implantacao boolean,
    justificativa_tempo_implantacao character varying(255),
    teve_retrabalho boolean,
    retrabalho_tipo character varying(100),
    delivered_with_quality boolean DEFAULT true,
    is_manual_start_date boolean DEFAULT false,
    ai_summary text,
    ai_analyzed_at timestamp without time zone,
    address text,
    state_uf character varying(2),
    had_ecommerce boolean DEFAULT false,
    previous_platform character varying(100),
    deployment_type character varying(50) DEFAULT 'MIGRA├ç├âO'::character varying,
    projected_orders integer DEFAULT 0,
    order_rate double precision DEFAULT 0.0,
    manual_go_live_date timestamp without time zone,
    forecast_obs text,
    include_in_forecast boolean DEFAULT true,
    integrador character varying(100)
);


ALTER TABLE public.stores OWNER TO "user";

--
-- Name: stores_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.stores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.stores_id_seq OWNER TO "user";

--
-- Name: stores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.stores_id_seq OWNED BY public.stores.id;


--
-- Name: sync_errors; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.sync_errors (
    id integer NOT NULL,
    sync_run_id integer NOT NULL,
    store_id integer,
    task_id character varying(50),
    error_msg text,
    traceback text,
    created_at timestamp without time zone
);


ALTER TABLE public.sync_errors OWNER TO "user";

--
-- Name: sync_errors_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.sync_errors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sync_errors_id_seq OWNER TO "user";

--
-- Name: sync_errors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.sync_errors_id_seq OWNED BY public.sync_errors.id;


--
-- Name: sync_runs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.sync_runs (
    id integer NOT NULL,
    started_at timestamp without time zone,
    finished_at timestamp without time zone,
    status character varying(20),
    items_processed integer,
    items_updated integer,
    error_summary text
);


ALTER TABLE public.sync_runs OWNER TO "user";

--
-- Name: sync_runs_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.sync_runs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sync_runs_id_seq OWNER TO "user";

--
-- Name: sync_runs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.sync_runs_id_seq OWNED BY public.sync_runs.id;


--
-- Name: sync_state; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.sync_state (
    id integer NOT NULL,
    last_shallow_sync_at timestamp without time zone,
    last_successful_sync_at timestamp without time zone,
    in_progress boolean
);


ALTER TABLE public.sync_state OWNER TO "user";

--
-- Name: sync_state_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.sync_state_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sync_state_id_seq OWNER TO "user";

--
-- Name: sync_state_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.sync_state_id_seq OWNED BY public.sync_state.id;


--
-- Name: system_config; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.system_config (
    id integer NOT NULL,
    key character varying(50) NOT NULL,
    value character varying(255) NOT NULL,
    description character varying(200),
    category character varying(50) DEFAULT 'general'::character varying
);


ALTER TABLE public.system_config OWNER TO "user";

--
-- Name: system_config_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.system_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_config_id_seq OWNER TO "user";

--
-- Name: system_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.system_config_id_seq OWNED BY public.system_config.id;


--
-- Name: tasks_steps; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.tasks_steps (
    id integer NOT NULL,
    clickup_task_id character varying(50) NOT NULL,
    store_id integer NOT NULL,
    step_list_name character varying(100),
    step_name character varying(150),
    assignee character varying(100),
    status character varying(50),
    created_at timestamp without time zone,
    closed_at timestamp without time zone,
    start_real_at timestamp without time zone,
    end_real_at timestamp without time zone,
    total_time_days double precision,
    idle_days integer,
    reopen_count integer
);


ALTER TABLE public.tasks_steps OWNER TO "user";

--
-- Name: tasks_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.tasks_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tasks_steps_id_seq OWNER TO "user";

--
-- Name: tasks_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.tasks_steps_id_seq OWNED BY public.tasks_steps.id;


--
-- Name: time_in_status_cache; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.time_in_status_cache (
    id integer NOT NULL,
    store_id integer NOT NULL,
    status_name character varying(50) NOT NULL,
    total_seconds integer,
    total_days double precision,
    updated_at timestamp without time zone
);


ALTER TABLE public.time_in_status_cache OWNER TO "user";

--
-- Name: time_in_status_cache_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.time_in_status_cache_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.time_in_status_cache_id_seq OWNER TO "user";

--
-- Name: time_in_status_cache_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.time_in_status_cache_id_seq OWNED BY public.time_in_status_cache.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.user_roles (
    user_id integer NOT NULL,
    role_id integer NOT NULL
);


ALTER TABLE public.user_roles OWNER TO "user";

--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50),
    email character varying(120),
    password_hash character varying(255),
    role character varying(20),
    is_active boolean,
    created_at timestamp without time zone,
    last_login timestamp without time zone,
    name character varying(100),
    totp_secret character varying(32),
    totp_enabled boolean DEFAULT false,
    profile_picture text
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: forecast_audit_logs id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.forecast_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.forecast_audit_logs_id_seq'::regclass);


--
-- Name: integration_metrics id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.integration_metrics ALTER COLUMN id SET DEFAULT nextval('public.integration_metrics_id_seq'::regclass);


--
-- Name: metrics_snapshot id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot ALTER COLUMN id SET DEFAULT nextval('public.metrics_snapshot_id_seq'::regclass);


--
-- Name: metrics_snapshot_daily id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot_daily ALTER COLUMN id SET DEFAULT nextval('public.metrics_snapshot_daily_id_seq'::regclass);


--
-- Name: performance_reviews id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.performance_reviews ALTER COLUMN id SET DEFAULT nextval('public.performance_reviews_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: status_events id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.status_events ALTER COLUMN id SET DEFAULT nextval('public.status_events_id_seq'::regclass);


--
-- Name: store_pauses id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_pauses ALTER COLUMN id SET DEFAULT nextval('public.store_pauses_id_seq'::regclass);


--
-- Name: store_sync_logs id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_sync_logs ALTER COLUMN id SET DEFAULT nextval('public.store_sync_logs_id_seq'::regclass);


--
-- Name: stores id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores ALTER COLUMN id SET DEFAULT nextval('public.stores_id_seq'::regclass);


--
-- Name: sync_errors id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sync_errors ALTER COLUMN id SET DEFAULT nextval('public.sync_errors_id_seq'::regclass);


--
-- Name: sync_runs id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sync_runs ALTER COLUMN id SET DEFAULT nextval('public.sync_runs_id_seq'::regclass);


--
-- Name: sync_state id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sync_state ALTER COLUMN id SET DEFAULT nextval('public.sync_state_id_seq'::regclass);


--
-- Name: system_config id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_config ALTER COLUMN id SET DEFAULT nextval('public.system_config_id_seq'::regclass);


--
-- Name: tasks_steps id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tasks_steps ALTER COLUMN id SET DEFAULT nextval('public.tasks_steps_id_seq'::regclass);


--
-- Name: time_in_status_cache id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.time_in_status_cache ALTER COLUMN id SET DEFAULT nextval('public.time_in_status_cache_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: forecast_audit_logs; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.forecast_audit_logs (id, store_id, field_name, old_value, new_value, changed_at, actor) FROM stdin;
\.


--
-- Data for Name: integration_metrics; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: metrics_snapshot; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.metrics_snapshot (id, reference_date, total_lojas_em_progresso, total_lojas_concluidas, mrr_em_implantacao, pct_no_prazo) FROM stdin;
\.


--
-- Data for Name: metrics_snapshot_daily; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: performance_reviews; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.performance_reviews (id, user_id, cycle, soft_communication, soft_process, soft_responsibility, score_collective, score_individual, churn_count, final_score, bonus_eligible, updated_at, reviewer_comment) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.permissions (id, name, description, module) FROM stdin;
1	view_dashboard	Pode visualizar o dashboard principal	DASHBOARD
2	manage_users	Pode criar e gerir usu├írios	ADMIN
3	manage_roles	Pode alterar permiss├Áes	ADMIN
4	view_integrations	Pode ver a tela de integra├º├úo	INTEGRACAO
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.role_permissions (role_id, permission_id) FROM stdin;
2	1
2	4
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.roles (id, name, description) FROM stdin;
1	Super Admin	Acesso irrestrito a todo o sistema
2	Operador	Acesso operacional padr├úo
3	Gerente	Vis├úo gerencial e de controle
\.


--
-- Data for Name: status_events; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.status_events (id, clickup_task_id, old_status, new_status, changed_at, changed_by, entity_type) FROM stdin;
\.


--
-- Data for Name: store_deep_sync_state; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.store_deep_sync_state (store_id, last_deep_sync_at, sync_status, last_error, last_synced_clickup_updated_at) FROM stdin;
28	2026-01-02 23:56:11.758513	COMPLETE	\N	\N
3	2026-01-04 01:43:45.444796	COMPLETE	\N	\N
1	2026-01-05 20:55:13.561863	COMPLETE	\N	\N
\.


--
-- Data for Name: store_pauses; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.store_pauses (id, store_id, start_date, end_date, reason, created_at) FROM stdin;
1	17	2025-12-11 00:00:00	\N		2026-02-02 10:15:24.916104
2	57	2025-12-22 00:00:00	2026-01-05 00:00:00	F├®rias Coletivas	2026-03-01 17:50:11.269047
3	56	2025-12-22 00:00:00	2026-01-05 00:00:00	F├®rias coletivas	2026-03-01 17:52:07.646306
4	98	2026-03-03 00:00:00	\N	Est├úo migrando pdv	2026-03-09 10:31:28.042237
5	74	2025-11-01 00:00:00	\N		2026-03-09 10:34:37.799283
6	30	2025-12-09 00:00:00	\N		2026-03-09 10:56:03.647341
7	327	2025-12-09 00:00:00	\N		2026-03-09 10:56:32.216008
\.


--
-- Data for Name: store_sync_logs; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: sync_errors; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: sync_runs; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: sync_state; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.sync_state (id, last_shallow_sync_at, last_successful_sync_at, in_progress) FROM stdin;
1	2026-03-11 10:34:58.827487	2026-03-11 10:34:58.827532	f
\.


--
-- Data for Name: system_config; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: tasks_steps; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: time_in_status_cache; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.time_in_status_cache (id, store_id, status_name, total_seconds, total_days, updated_at) FROM stdin;
1	28	cadastro omie	775440	8.97	2026-01-02 23:56:11.771424
2	28	integra├º├úo erp	1245300	14.41	2026-01-02 23:56:11.771426
3	28	cadastro de produtos	1440	0.02	2026-01-02 23:56:11.771426
4	3	cadastro omie	132300	1.53	2026-01-04 01:43:45.455007
5	1	cadastro omie	287580	3.33	2026-01-05 20:55:13.566236
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.user_roles (user_id, role_id) FROM stdin;
2	1
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.users (id, username, email, password_hash, role, is_active, created_at, last_login, name, totp_secret, totp_enabled, profile_picture) FROM stdin;
2	\N	admin@clickup.com	scrypt:32768:8:1$DgLRAg5xgJk1tupl$ce1e590d9c8456b7ca993e24f4fd02314115da61dfb4c4f73546cf18980225a1e1149410acdb3254724199b388ac11cacdb30826859115c849b0895a18f83a10	\N	t	2026-02-23 16:22:59.600307	2026-03-04 13:00:08.598652	Administrador Master	TNUD7P2F33QR75SNZAUUW63WOJJYOVKA	t	\N
\.


--
-- Name: forecast_audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.forecast_audit_logs_id_seq', 1, false);


--
-- Name: integration_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.integration_metrics_id_seq', 574, true);


--
-- Name: metrics_snapshot_daily_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.metrics_snapshot_daily_id_seq', 5573, true);


--
-- Name: metrics_snapshot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.metrics_snapshot_id_seq', 1, false);


--
-- Name: performance_reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.performance_reviews_id_seq', 1, false);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.permissions_id_seq', 4, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: status_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.status_events_id_seq', 1, false);


--
-- Name: store_pauses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.store_pauses_id_seq', 7, true);


--
-- Name: store_sync_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.store_sync_logs_id_seq', 469, true);


--
-- Name: stores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.stores_id_seq', 336, true);


--
-- Name: sync_errors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.sync_errors_id_seq', 2, true);


--
-- Name: sync_runs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.sync_runs_id_seq', 145, true);


--
-- Name: sync_state_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.sync_state_id_seq', 1, false);


--
-- Name: system_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.system_config_id_seq', 10, true);


--
-- Name: tasks_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.tasks_steps_id_seq', 1073, true);


--
-- Name: time_in_status_cache_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.time_in_status_cache_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: forecast_audit_logs forecast_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.forecast_audit_logs
    ADD CONSTRAINT forecast_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: integration_metrics integration_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.integration_metrics
    ADD CONSTRAINT integration_metrics_pkey PRIMARY KEY (id);


--
-- Name: metrics_snapshot_daily metrics_snapshot_daily_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot_daily
    ADD CONSTRAINT metrics_snapshot_daily_pkey PRIMARY KEY (id);


--
-- Name: metrics_snapshot metrics_snapshot_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot
    ADD CONSTRAINT metrics_snapshot_pkey PRIMARY KEY (id);


--
-- Name: performance_reviews performance_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.performance_reviews
    ADD CONSTRAINT performance_reviews_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_key UNIQUE (name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: status_events status_events_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.status_events
    ADD CONSTRAINT status_events_pkey PRIMARY KEY (id);


--
-- Name: store_deep_sync_state store_deep_sync_state_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_deep_sync_state
    ADD CONSTRAINT store_deep_sync_state_pkey PRIMARY KEY (store_id);


--
-- Name: store_pauses store_pauses_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_pauses
    ADD CONSTRAINT store_pauses_pkey PRIMARY KEY (id);


--
-- Name: store_sync_logs store_sync_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_sync_logs
    ADD CONSTRAINT store_sync_logs_pkey PRIMARY KEY (id);


--
-- Name: stores stores_clickup_task_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_clickup_task_id_key UNIQUE (clickup_task_id);


--
-- Name: stores stores_custom_store_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_custom_store_id_key UNIQUE (custom_store_id);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: sync_errors sync_errors_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sync_errors
    ADD CONSTRAINT sync_errors_pkey PRIMARY KEY (id);


--
-- Name: sync_runs sync_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sync_runs
    ADD CONSTRAINT sync_runs_pkey PRIMARY KEY (id);


--
-- Name: sync_state sync_state_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sync_state
    ADD CONSTRAINT sync_state_pkey PRIMARY KEY (id);


--
-- Name: system_config system_config_key_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_key_key UNIQUE (key);


--
-- Name: system_config system_config_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_pkey PRIMARY KEY (id);


--
-- Name: tasks_steps tasks_steps_clickup_task_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tasks_steps
    ADD CONSTRAINT tasks_steps_clickup_task_id_key UNIQUE (clickup_task_id);


--
-- Name: tasks_steps tasks_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tasks_steps
    ADD CONSTRAINT tasks_steps_pkey PRIMARY KEY (id);


--
-- Name: time_in_status_cache time_in_status_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.time_in_status_cache
    ADD CONSTRAINT time_in_status_cache_pkey PRIMARY KEY (id);


--
-- Name: integration_metrics uix_integration_date_store; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.integration_metrics
    ADD CONSTRAINT uix_integration_date_store UNIQUE (snapshot_date, store_id);


--
-- Name: metrics_snapshot_daily uix_snapshot_date_store; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot_daily
    ADD CONSTRAINT uix_snapshot_date_store UNIQUE (snapshot_date, store_id);


--
-- Name: performance_reviews uix_user_cycle_review; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.performance_reviews
    ADD CONSTRAINT uix_user_cycle_review UNIQUE (user_id, cycle);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: ix_integration_metrics_snapshot_date; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_integration_metrics_snapshot_date ON public.integration_metrics USING btree (snapshot_date);


--
-- Name: ix_metrics_snapshot_daily_implantador; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_metrics_snapshot_daily_implantador ON public.metrics_snapshot_daily USING btree (implantador);


--
-- Name: ix_metrics_snapshot_daily_snapshot_date; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_metrics_snapshot_daily_snapshot_date ON public.metrics_snapshot_daily USING btree (snapshot_date);


--
-- Name: ix_metrics_snapshot_daily_store_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_metrics_snapshot_daily_store_id ON public.metrics_snapshot_daily USING btree (store_id);


--
-- Name: ix_status_events_clickup_task_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_status_events_clickup_task_id ON public.status_events USING btree (clickup_task_id);


--
-- Name: forecast_audit_logs forecast_audit_logs_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.forecast_audit_logs
    ADD CONSTRAINT forecast_audit_logs_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: integration_metrics integration_metrics_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.integration_metrics
    ADD CONSTRAINT integration_metrics_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: metrics_snapshot_daily metrics_snapshot_daily_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.metrics_snapshot_daily
    ADD CONSTRAINT metrics_snapshot_daily_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: performance_reviews performance_reviews_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.performance_reviews
    ADD CONSTRAINT performance_reviews_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: store_deep_sync_state store_deep_sync_state_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_deep_sync_state
    ADD CONSTRAINT store_deep_sync_state_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: store_pauses store_pauses_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_pauses
    ADD CONSTRAINT store_pauses_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: store_sync_logs store_sync_logs_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.store_sync_logs
    ADD CONSTRAINT store_sync_logs_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: stores stores_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.stores(id);


--
-- Name: sync_errors sync_errors_sync_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sync_errors
    ADD CONSTRAINT sync_errors_sync_run_id_fkey FOREIGN KEY (sync_run_id) REFERENCES public.sync_runs(id);


--
-- Name: tasks_steps tasks_steps_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tasks_steps
    ADD CONSTRAINT tasks_steps_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: time_in_status_cache time_in_status_cache_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.time_in_status_cache
    ADD CONSTRAINT time_in_status_cache_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict aa977r39hmANEbqf3WHc3q2NHP0stU6qB0jNtpQogNyUj63gnhufl0vXxAmn6MG

